/* example
.trial {
    background-color: antiquewhite;
} */
.rootClass {
    height: 100%;
    min-height: 100%;
    width:100%;
    font-family: 'Roboto', 'Montserrat', 'Roboto Condensed', sans-serif;
}